<h1>Welcome</h1>
<p>Testing out bootstrap</p>

<div class="well">
testing in a well?
</div>


<ul class="thumbnails">
  <li class="span3">
    <a href="#" class="thumbnail">
      <p>"Sample for thumbnail 1"</p>
    </a>
  </li>
    <li class="span3">
    <a href="#" class="thumbnail">
      <p>"Sample for thumbnail 2"</p>
    </a>
  </li>
    <li class="span3">
    <a href="#" class="thumbnail">
      <p>"Sample for thumbnail 3"</p>
    </a>
  </li>
</ul>

<span class="label">Default</span>

<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>


<div class="btn-group">
  <a class="btn" href="#">Action</a>
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
     <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>





<ul class="pager">
  <li>
    <a href="#">Previous</a>
  </li>
  <li>
    <a href="#">Next</a>
  </li>
</ul>